.petsContainer {
  text-align: center;
  padding: 20px;

  .imageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
  }
  
  .dogImage {
    width: 1100px;
    height: 400px;
    z-index: 1;

    @media (max-width: 1024px) {
      width: 56em;
      height: 24em;
    }

    @media (max-width: 768px) {
      // margin-right: 40px;
      width: 38em;
      height: 16em;
    }
  }
  
  .title {
    z-index: 2;
    position: absolute;
    top: 80px;
    right: 450px;
    font-weight: 600;
    font-size: 55px;
    line-height: 116%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #283b40;

    @media (max-width: 1441px) {
      right: 30%;
    }

    @media (max-width: 1366px) {
      right: 25%;
    }

    @media (max-width: 1024px) {
      right: 19%;
    }

    @media (max-width: 768px) {
      right: 22%;
      top: 26%;
      font-size: 32px;
    }
  }
  
  .textBox {
    text-align: left;
    z-index: 2; 
    position: absolute;
    left: 630px;
    bottom: 90px;
    font-weight: 400;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: 0.07em;
    color: #283b40;

    @media (max-width: 1441px) {
      right: 15%;
      width: 670px;
    }

    @media (max-width: 1024px) {
      font-size: 38px;
      right: 2%;
    }

    @media (max-width: 768px) {
      right: 12%;
      top: 57%;
      width: 400px;
      font-size: 30px;
    }
}
}

.petsGrid {
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
  padding: 10px;

  @media (max-width: 1290px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
  }
}
