.body {
    background-color: black;
    max-width: 1920px;
    height: 50vh;
    text-align: center;
}

.fizzy {
    background-color: black;
    padding: 43vh;
    text-align: center;
    overflow: hidden;
}